<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-default buttonLrg" ng-click="toggleStats()">System Information</button>
                <button type="button" class="btn btn-default buttonLrg" ng-click="toggleSubList()">Submission List</button>
                <a type="button" class="btn btn-default buttonLrg" href="/subformeditor"> Edit the Submission Form</a>
                <a type="button" class="btn btn-default buttonLrg" href="/roleChange">Edit users</a>
            </div>
        </div>

        <div class="col-md-8">
            <div ng-show="toggles.subListToggle">
                <div ng-include="'components/sublist/sublist.html'"></div>
            </div>

            <div ng-show="toggles.statsToggle">
                <ul class="list-group">
                    <li class="list-group-item">
                        <button class="btn btn-primary" ng-click="getSubmissionData()" title="force data refresh"><span class="glyphicon glyphicon-refresh"></span></button>
                    </li>
                    <li class="list-group-item">
                        <p>Total number of submissions stored: {{totalSubmissions()}}</p>
                        <p>Total number of registered users: {{totalUsers()}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>