

.trash { color:rgb(209, 91, 71); }

.removeBullets {
    list-style-type: none;
}
.button1 {
    color: antiquewhite;
    border-radius: 4px;
    background: #E19B14;
}
.buttonLrg{
    color: antiquewhite;
    padding: 10px 16px;
    font-size: 30px;
    line-height: 1.33;
    border-radius: 6px;
    background: #E19B14;
    font-style: oblique;
    font-family: "Times New Roman", Times, monospace;

}
#center {
    text-align: center;
}