<!--<div ng-include="'components/navbar/navbar.html'"></div>-->

<div ng-controller="SubformeditorCtrl" ng-show="isAdmin() || isCoChair()" class="container FormBox">
    <form ng-submit="submitChanges()" id="form2">

        <h1>URS Submission Form Text Editor</h1>
        <hr>

        <label class="padded">
            Edit the presentation title:
            <br>
            <textarea ng-model="submissionText.title"  cols="30" name="Title"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the text describing the necessary adviser conditions:
            <br>
            <textarea ng-model="submissionText.adviserDisclaimer"  cols="75" rows="8" name="AdviserDisclaimer"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the summary for the Undergraduate Research Symposium:
            <br>
            <textarea ng-model="submissionText.ursSummary"  cols="75" rows="8" name="UrsSummary"></textarea>
        </label>
        <br>

        <label class="padded">
            Add additional information here:
            <br>
            <textarea ng-model="submissionText.notes1"  cols="75" rows="8" name="Notes1"></textarea>
        </label>
        <br>

        <label class="padded">
            Add any disclaimers here:
            <br>
            <textarea ng-model="submissionText.nameDisclaimer"  cols="75" rows="8" name="NameDisclaimer"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the section title for submission criteria:
            <br>
            <textarea ng-model="submissionText.header1"  cols="75" rows="2" name="Header1"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit general criteria for the submission here:
            <br>
            <textarea ng-model="submissionText.criteria"  cols="75" rows="8" name="Criteria"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the section title for field-specific criteria:
            <br>
            <textarea ng-model="submissionText.header2"  cols="75" rows="2" name="Header2"></textarea>
        </label>
        <br>

        <label class="padded">
            Add notes relevant to field-specific criteria:
            <br>
            <textarea ng-model="submissionText.notes2"  cols="75" rows="8" name="Notes2"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the field-specific criteria for Artist Submissions:
            <br>
            <textarea ng-model="submissionText.artistCriteria"  cols="75" rows="8" name="ArtistCriteria"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the field-specific criteria for Humanities Submissions:
            <br>
            <textarea ng-model="submissionText.humanitiesCriteria"  cols="75" rows="8" name="HumanitiesCriteria"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the field-specific criteria for Science & Social Science Submission:
            <br>
            <textarea ng-model="submissionText.scienceCriteria"  cols="75" rows="8" name="ScienceCriteria"></textarea>
        </label>
        <br>

        <label class="padded">
            Add additional notes or information here:
            <br>
            <textarea ng-model="submissionText.notes3"  cols="75" rows="8" name="Notes3"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the presentation title:
            <br>
            <textarea ng-model="submissionText.submissionTitle"  cols="75" rows="2" name="SubmissionTitle"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the submission format drop-down Title:
            <br>
            <textarea ng-model="submissionText.submissionFormat"  cols="75" rows="2" name="SubmissionFormat"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the title describing the submission abstract text area:
            <br>
            <textarea ng-model="submissionText.submissionAbstract"  cols="75" rows="2" name="SubmissionAbstract"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the notes for the submission abstract text area:
            <br>
            <textarea ng-model="submissionText.submissionAbstractNotes"  cols="75" rows="8" name="SubmissionAbstractNotes"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the text presentation type drop-down title:
            <br>
            <textarea ng-model="submissionText.submissionPresentationType"  cols="75" rows="2" name="SubmissionPresentationType"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the text asking if the presentation can be given in a different format:
            <br>
            <textarea ng-model="submissionText.submissionFormatChange"  cols="75" rows="8" name="SubmissionFormatChange"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the notes for the format type:
            <br>
            <textarea ng-model="submissionText.submissionChangeNotes"  cols="75" rows="8" name="SubmissionChangeNotes"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the Primary Presenter text area Title:
            <br>
            <textarea ng-model="submissionText.submissionPresenter"  cols="75" rows="2" name="SubmissionPresenter"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the Copresenter One text area Title:
            <br>
            <textarea ng-model="submissionText.submissionCopresenterOne"  cols="75" rows="2" name="SubmissionCopresenterOne"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the Copresenter Two text area Title:
            <br>
            <textarea ng-model="submissionText.submissionCopresenterTwo"  cols="75" rows="2" name="SubmissionCopresenterTwo"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the Sponsor Title:
            <br>
            <textarea ng-model="submissionText.submissionSponsors"  cols="75" rows="2" name="SubmissionSponsors"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the Sponsor Notes:
            <br>
            <textarea ng-model="submissionText.submissionSponsorsNotes"  cols="75" rows="8" name="SubmissionSponsorsNotes"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the Sponsor / Adviser text area Title:
            <br>
            <textarea ng-model="submissionText.submissionAdviser"  cols="75" rows="2" name="SubmissionAdviser"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the Sponsor / Adviser Notes:
            <br>
            <textarea ng-model="submissionText.submissionAdviserNotes"  cols="75" rows="8" name="SubmissionAdviserNotes"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the Feature Presentation Section:
            <br>
            <textarea ng-model="submissionText.submissionFeatured"  cols="75" rows="8" name="SubmissionFeatured"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the Special Media Section:
            <br>
            <textarea ng-model="submissionText.submissionMediaServices"  cols="75" rows="8" name="SubmissionMediaServices"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the Special Requirements Section:
            <br>
            <textarea ng-model="submissionText.submissionSpecialRequirements"  cols="75" rows="8" name="SubmissionSpecialRequirements"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the T-Shirt Title:
            <br>
            <textarea ng-model="submissionText.submissionTee"  cols="75" rows="2" name="SubmissionTee"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the notes about T-Shirts:
            <br>
            <textarea ng-model="submissionText.submissionTeeNotes"  cols="75" rows="8" name="SubmissionTeeNotes"></textarea>
        </label>
        <br>

        <label class="padded">
            Edit the section asking for other information:
            <br>
            <textarea ng-model="submissionText.submissionOther"  cols="75" rows="8" name="SubmissionOther"></textarea>
        </label>
        <br>

        <button class="btn btn-primary padded" type="submit" value="submit" >Submit Changes! </button>

    </form>
</div>