<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container FormBox">
    <h1>2015 URS Submission Form</h1>
    <p>All applications to the Undergraduate Research Symposium must be accompanied by a brief statement of support from the student's project adviser.
        The faculty mentor should indicate:
        <br>* Confidence that the student's work will be ready to present by the URS date;
        <br>* Approval of the submitted abstract/statement/proposal for publication as-is in the program book.
        <br>Project adviser recommendations should complete the form prior to the student submitting their abstract for review.
    </p>

    <!-- Potentially add link to adviser form, or a way to email the adviser about the form. -->

    <p>Your username (x500) will be recorded when you submit this form. </p>

    <hr>

    <form  ng-submit="submitSubmission()" id="form1">

        <br>
        <label class="padded">
            Presentation Title:
            <br>
            <textarea ng-model="submissionData.title" cols="50" name="Presentation Title"  required></textarea>
        </label>
        <br>

        <label class="padded">
            Format for submission
            <br>
            <div>
                <select  ng-model="submissionData.format" placeholder="select one" required >
                    <option value="" disabled selected>Select One </option>
                    <option ng-repeat="option in formatOptions" value="{{option}}">{{option}}</option>
                </select>
            </div>
        </label>
        <br>

        <label class="padded ">
            Artist Statement / Proposal / Abstract
            <br>
            <span class="subtext">Paste your text in the box below. Figures and special characters will need to be submitted as a separate document.
                Please e-mail as a Word or PDF document to sferrian@morris.umn.edu</span>
            <br>
            <span class="subtext">1000 character limit, approx. 250 words.</span>
            <br>
            <textarea ng-model="submissionData.abstract" cols="50" name="abstract" maxlength="1000" required></textarea>
            <br> <span>{{charsRemaining()}} characters remaining.</span>
        </label>
        <br>

        <label class="padded">
            Type of presentation
            <br>
            <select ng-model="submissionData.presentationType" required>
                <option value="" disabled selected>Select One</option>
                <option ng-repeat="option in presentationTypes" value="{{option}}">{{option}}</option>
            </select>
        </label>
        <br>

        <!-- change to use booleans later...! -->
        <div class="padded">
            <b>
                Because of space constraints, we may not be able to have everyone do their preferred type of presentation. <br>
                If necessary, would you be willing to give your presentation in another format?
            </b>
            <br>
            <span class="subtext">No change in format will be made without first contacting the presenter first.</span>
            <br>
            <label>
                <input ng-model="submissionData.formatChange" type="radio" name="formatChange" ng-value="true" required> Yes
            </label>
            <br>
            <label>
                <input ng-model="submissionData.formatChange" type="radio" name="formatChange" ng-value="false" required> No
            </label>
            <br>
        </div>

        <div class="padded">
            <b>Primary Presenter:</b>
            <br>
                <input type="text" name="presenter_first" placeholder="first name" ng-model="submissionData.presenterInfo.first" required>
                <input type="text" name="presenter_last" placeholder="last name" ng-model="submissionData.presenterInfo.last" required><br>
                <input type="text" name="presenter_email" placeholder="full email address" ng-model="submissionData.presenterInfo.email" required><br>
        </div>

        <div class="padded">
            <b>Secondary Presenter #1:</b>
            <br>
                <input type="text" name="copresenterOne_first" placeholder="first name" ng-model="submissionData.copresenterOne.first">
                <input type="text" name="copresenterOne_last" placeholder="last name" ng-model="submissionData.copresenterOne.last"><br>
                <input type="text" name="copersenterOne_email" placeholder="full email address" ng-model="submissionData.copresenterOne.email"><br>
        </div>

        <div class="padded">
            <b>Secondary Presenter #2:</b>
            <br>
            <input type="text" name="copresenterTwo_first" placeholder="first name" ng-model="submissionData.copresenterTwo.first">
            <input type="text" name="copresenterTwo_last" placeholder="last name" ng-model="submissionData.copresenterTwo.last"><br>
            <input type="text" name="copersenterTwo_email" placeholder="full email address" ng-model="submissionData.copresenterTwo.email"><br>
        </div>

        <label class="padded">
            <input type="text" name="discipline" placeholder="Acedemic Discipline" ng-model="submissionData.discipline" required>
        </label>
        <br>

        <div class="padded">
            <b>Sponsoring Organization or Fund</b><br>
            <span class="subtext">Choose any applicable. If funded by faculty grant, specify under "other"</span>
            <br>
            <label ng-repeat="source in fundingSources" class="stacked">
                <input ng-model="submissionData.sponsors[$index]" type="checkbox" value="{{source}}" ng-value="{{source}}" ng-true-value="{{source}}" ng-false-value="">{{" " + source}}
            </label>
            <input type="text" placeholder="Other?" ng-model="submissionData.sponsors[4]">
        </div>

        <div class="padded">
            <b>Faculty Sponsor / Project Adviser Information</b><br>
            <span class="subtext">Every submitted project is required to have a faculty sponsor or project adviser identified.</span><br>
            <input type="text" required placeholder="Name" ng-model="submissionData.adviserInfo.name">
            <input type="text" required placeholder="Full email address" ng-model="submissionData.adviserInfo.email">
        </div>

        <div class="padded">
            <b>
                The URS features one presentation in the opening ceremony. This presentation should have broader appeal with interdisciplinary components,
                and may easily accommodate a performance component.
                The featured presenter will have more time, as well as a bigger room than regular presentations.
                Would you be interested in having your presentation featured during the opening ceremony?
            </b>
            <br>
            <label>
                <input ng-model="submissionData.featuredPresentation" type="radio" name="featuredPresentation" value="yes" ng-value="true" required> Yes
            </label>
            <br>
            <label>
                <input ng-model="submissionData.featuredPresentation" type="radio" name="featuredPresentation" value="no" ng-value="false" required> No
            </label>
        </div>
        <br>

        <div class="padded">
            <b>
                Each presentation room will have available an overhead projector and a Macintosh or PC computer with video projection capabilities.
                Do you anticipate needing any additional Media Services equipment? Please explain in detail:
            </b><br>
            <textarea cols="50" name="mediaServices" ng-model="submissionData.mediaServicesEquipment" placeholder="Explain in detail."></textarea>
        </div>
        <br>

        <div class="padded">
            <b>
                Do you anticipate any special room location, non-media services equipment (i.e., recital hall, piano, etc.),
                or scheduling requirements (i.e., several groups holding a forum that would require more than the allotted 15 minutes)?
                Please explain in detail:
            </b><br>
            <textarea name="specialRequirements"  cols="50" ng-model="submissionData.specialRequirements" placeholder="Explain in detail."></textarea>
        </div>

        <label class="padded">
            T-Shirt for PRIMARY PRESENTER
            <br>
            <span class="subtext">All sizes are US adult sizes</span>
            <br>
            <select ng-model="submissionData.presenterTeeSize" required>
                <option value="" disabled selected>Select One</option>
                <option ng-repeat="size in teeSizes" value="{{size}}">{{size}}</option>
            </select>
        </label>
        <br>

        <label class="padded">
            Is there anything else you would like us to know about your presentation?
            <br>
            <textarea cols="50" name="otherInfo" ng-model="submissionData.otherInfo" placeholder="Other info?"></textarea>
        </label>
        <br>

        <button class="btn btn-primary padded" type="submit" value="submit">Submit!</button>
    </form>
</div>
