
/*Formats the grey subtext*/
.subtext {
    color: darkgray;
    font-size: 12px;
}

/*Adds padding*/
.padded {
   /*outline: dashed red 2px; */
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Formats a group of elements to line up*/
.stacked {
    display: inline;
}

/*No discernible function*/
.stacked:after {
    content: "\a";
    white-space: pre;
}

/*Adds margin and drop shadow*/
.FormBox {
    -webkit-box-shadow: 0px 0px 5px 7px rgba(176,173,176,1);
    -moz-box-shadow: 0px 0px 5px 7px rgba(176,173,176,1);
    box-shadow: 0px 0px 5px 7px rgba(176,173,176,1);
    margin-bottom: 20px;
    background-color: ghostwhite;
}

/*Adjusts page elements for page size maybe.*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input.ng-invalid, textarea.ng-invalid {
        outline:solid 1px #FA787E;
    }

    /*not working right now*/

    /*input[type="radio"].ng-invalid, input[type="checkbox"].ng-invalid {*/
        /*background-color: red;*/
        /*color: red;*/
    /*}*/
}

/*input.ng-valid.ng-dirty{*/
    /*outline: none;*/
/*}*/

/*Styles most parts of the form*/
.preStyle {
    background-color: ghostwhite;
    border: 0px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: normal;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:  14px;
    padding: 0;
}

/*Style for headers*/
.preStyleH1 {
    background-color: ghostwhite;
    border: 0px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: normal;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:  300%;
    padding: 0;
}

/*Styling field titles*/
.preStyleH4 {
    background-color: ghostwhite;
    border: 0px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: normal;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:  150%;
    padding: 0;
}

/*Styles the single line text fields*/
.preStyleSmall {
    background-color: ghostwhite;
    border: 0px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: normal;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:  85%;
    color: grey;
    padding: 0;
}

/*Changes the resubmission button color*/
.ResubButton {
    background-color: #7a0019;
    color: #ffcc33;
}

/*Changes the resubmission button color on hover*/
.ResubButton:hover {
    background-color: #ffcc33;
    color: #7a0019;
}


/*----------------------------------------------------------------------*/

/*No discernible function*/
/*.FormButton {*/
/*background-color: maroon;*/
/*color: #f5f5f5;*/
/*border-radius: 5px;*/
/*border-width: 1px;*/
/*}*/

/*No Function found*/
/*.SelectStyle {*/
/*width: 200px;*/
/*height: 30px;*/
/*overflow: hidden;*/
/*text-align: left;*/
/*color: #000000;*/
/*border-radius: 5px;*/
/*}*/

/*No function found*/
/*.SelectStyle select {*/
/*background: transparent;*/
/*width: 268px;*/
/*padding: 5px;*/
/*font-size: 16px;*/
/*line-height: 1;*/
/*border: 0;*/
/*border-radius: 0;*/
/*height: 34px;*/
/*-webkit-appearance: none;*/
/*}*/