.subtext {
    color: darkgray;
    font-size: 12px;
}

.padded {
   /*outline: dashed red 2px; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.stacked {
    display: inline;
}

.stacked:after {
    content: "\a";
    white-space: pre;
}