.trash { color:rgb(209, 91, 71); }

.removeBullets {
    list-style-type: none;
}
.button1 {
    border-radius: 4px;
    text-shadow: 0, 1px, 1px;
}
.buttonRole{
    color: antiquewhite;
    padding: 5px 8px;
    font-size: 13px;
    line-height: 1.33;
    border-radius: 6px;
    background: maroon;
    font-style: oblique;
}
#center {
    text-align: center;
}