
<!--<div ng-include="'components/navbar/navbar.html'"></div>-->

<div ng-controller="RoleChangeCtrl" class="container">
    <!--<p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>-->
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="user in users">
            <strong>{{user.name}}:</strong><br>
            <span class="text-muted">
                {{user.email}} <br>
            </span>
            <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
            <div>
                <!--Selector for user role-->
                <select ng-model="user.role"  placeholder="" required ng-required>
                    <option value="{{user.role}}" disabled selected>{{user.role}}</option>
                    <option ng-repeat="option in roleOptions" value="{{option}}">{{option}}</option>
                </select>
                <button class="buttonRole" ng-click="updateInfo(user)"> Update User Info</button>
            </div>

            <!--Selector for reviewer group-->
            <div ng-show="userIsReviewer(user)">
                <select ng-model="user.group"  placeholder="" required ng-required>
                    <option value="{{user.group}}" disabled selected>{{user.group}}</option>
                    <option ng-repeat="option in groupOptions" value="{{option}}">{{option}}</option>
                </select>
            </div>
        </li>
    </ul>
</div>