/*Color of the trash Icon*/
.trash {
    color:rgb(209, 91, 71);
}

/*Removes bullet points from the list*/
.removeBullets {
    list-style-type: none;
}

/*Formats the update button*/
.buttonRole{
    color: #ffcc33;
    padding: 5px 10px;
    font-size: 13px;
    margin-left: 15px;
    border-radius: 6px;
    background: #7a0019;
    font-weight: bold;
    border-style: none;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

/*-------------------------------------------------------------------------------------------------------*/
/*#center {*/
    /*text-align: center;*/
/*}*/