<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>URSA Major</h1>
    <p class="lead">URS submission and event management tool.</p>
    <img style="height: 100px" src="assets/images/ursamajor_logoMorris.png" width="175px" height="175px">
      <!--Image source: http://www.ursamajor.cc/-->
  </div>
</header>

<div ng-show="isLoggedIn()" class="container">
  <!--<div class="row">-->
    <!--<div class="col-lg-12">-->
      <!--<h1 class="page-header">Features:</h1>-->
      <!--<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">-->
        <!--<li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->

  <!--<form class="thing-form">-->
    <!--<label>Syncs in realtime across clients</label>-->
    <!--<p class="input-group">-->
      <!--<input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">-->
      <!--<span class="input-group-btn">-->
        <!--<button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>-->
      <!--</span>-->
    <!--</p>-->
  <!--</form>-->

    <a ng-href="/subform" class="buttonMain">Create a submission</a>

  <!--<div ng-include="'components/sublist/sublist.html'"></div>-->

</div>
<div ng-hide="isLoggedIn()">
    <a ng-href="/login" class="buttonMain">Login</a>
</div>

<div class="row container-fluid">
    <div class="col-md-4">
        <img class="fitImage" src="assets/images/softwaredclass.jpeg" alt="Picture of Fall 2014 3601's students">
        <h2>About the Creators</h2>
        <p>
            Every Computer Science major at the Unviersity of Minnesota, Morris must complete a specific course: Software Design and Development. Fall 2014's section of this course
            made this very application. CSci 3601's students are proud to say that they've been working on this application for an entire semester, and they're excited to see how
            it'll be utilized in the future.
        </p>
    </div>
    <div class="col-md-4">
        <img class="fitImage" src="assets/images/URS1.jpg">
        <h2>What is the Undergraduate Research Symposium?</h2>
        <p>
            The URS offers an opportunity for the UMM community to present research, creative work and art performances. The audience not only includes peers, faculty and family,
            but reaches far beyond the campus community. The URS continaully manages to show the world what the UMM community can achieve.
        </p>
    </div>
    <div class="col-md-4">
        <img class="fitImage" src="assets/images/ursa_major.gif" alt="Ursa Major constellation">
        <h2>Why URSA Major?</h2>
        <p>
            When CSci 3601's students were given the task of making an application for the Undergraduate Research Symposium, they were also given the tough job of deciding
            what the application's design would be like, choosing what it would be named, and designing its capabilities. Said simply, the name URSA Major is a pun. And its goal is
            to be an organizational web application that streamlines, automates, and integrates in order to fluidly combine all aspects of the URS, including submissions,
            reviews, and the process of organizing the entire event.
        </p>
    </div>
</div>


<!--<footer class="footer">
  <div class="container">
      <p>UMN Morris 3601 |
         <a href="https://github.com/emmasax1/UMM3601ursamajor">Github!</a></p>
  </div>
</footer>-->
