/* unvisited link */
a:link {
    color: #7a0019;
}

/* visited link */
a:visited {
    color: #7a0019;
}

/* mouse over link */
a:hover {
    color: #000000;

    text-decoration: none;
}

/* selected link */
a:active {
    color: #000000;
}


.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #7a0019;
    font-family: "Times New Roman", Times, monospace;
}

.fitImage {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row h2 {
    text-align: center;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

/*.subButton {*/
    /*background-color: royalblue;*/
    /*border-radius: 10px;*/
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*padding: 15px;*/
    /*width: 25%;*/
    /*color: white;*/
    /*display: block;*/

/*}*/

.buttonMain{
    padding: 10px 16px;
    font-size: 30px;
    border-radius: 6px;
    background: #ffcc33;
    width: 30%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

