<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>URSA Major</h1>
    <p class="lead">URS submission and event management tool.</p>
    <img style="height: 100px" src="assets/images/The Legit one.png" alt="I'm Yeoman">
  </div>
</header>

<div ng-show="isLoggedIn()" class="container">
  <!--<div class="row">-->
    <!--<div class="col-lg-12">-->
      <!--<h1 class="page-header">Features:</h1>-->
      <!--<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">-->
        <!--<li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->

  <!--<form class="thing-form">-->
    <!--<label>Syncs in realtime across clients</label>-->
    <!--<p class="input-group">-->
      <!--<input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">-->
      <!--<span class="input-group-btn">-->
        <!--<button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>-->
      <!--</span>-->
    <!--</p>-->
  <!--</form>-->
    <a ng-href="/subform" class="btn btn-primary subButton">Create a submission!</a>

  <!--<div ng-include="'components/sublist/sublist.html'"></div>-->
</div>
<div ng-hide="isLoggedIn()">
    <a ng-href="/login" class="btn btn-primary subButton">Please Login!</a>
</div>


<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>

    <!-- THIS IS THE INDEX.HTML FILE IN THE VIDEO -->

    <!--<head>-->
        <!--<script type="text/javascript" src="wysiwyg/wysiwyg.js"></script>-->
    <!--</head>-->
    <!--<body onLoad="iFrameOn();">-->
    <!--<h2>My web application that intakes data from users</h2>-->
    <!--<form action="my_parse_file.php" name="myform" id="myform" method="post">-->
        <!--<p>Entry Title: <input name="title" id="title" type="text" size="80" maxlength="80" /></p>-->
        <!--<p>Entry Body:<br>-->
        <!--<div id="wysiwyg_cp" style="padding:8px; width:700px;">-->
            <!--<input type="button" onClick="iBold()" value="B">-->
            <!--<input type="button" onClick="iUnderline()" value="U">-->
            <!--<input type="button" onClick="iItalic()" value="I">-->
            <!--<input type="button" onClick="iFontSize()" value="Text Size">-->
            <!--<input type="button" onClick="iForeColor()" value="Text Color">-->
            <!--<input type="button" onClick="iHorizontalRule()" value="HR">-->
            <!--<input type="button" onClick="iUnorderedList()" value="UL">-->
            <!--<input type="button" onClick="iOrderedList()" value="OL">-->
            <!--<input type="button" onClick="iLink()" value="Link">-->
            <!--<input type="button" onClick="iUnLink()" value="UnLink">-->
            <!--<input type="button" onClick="iImage()" value="Image">-->
        <!--</div>-->
        <!--&lt;!&ndash; Hide(but keep)your normal textarea and place in the iFrame replacement for it &ndash;&gt;-->
        <!--<textarea style="display:none;" name="myTextArea" id="myTextArea" cols="100" rows="14"></textarea>-->
        <!--<iframe name="richTextField" id="richTextField" style="border:#000000 1px solid; width:700px; height:300px;"></iframe>-->
        <!--&lt;!&ndash; End replacing your normal textarea &ndash;&gt;-->
        <!--</p>-->
        <!--<br /><br /><input name="myBtn" type="button" value="Submit Data" onClick="javascript:submit_form();"/>-->
    <!--</form>-->
    <!--</body>-->



</footer>
