<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>URSA Major</h1>
    <p class="lead">URS submission and event management tool.</p>
    <img style="height: 100px" src="assets/images/The Legit one.png">
  </div>
</header>

<div ng-show="isLoggedIn()" class="container">
  <!--<div class="row">-->
    <!--<div class="col-lg-12">-->
      <!--<h1 class="page-header">Features:</h1>-->
      <!--<ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">-->
        <!--<li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->

  <!--<form class="thing-form">-->
    <!--<label>Syncs in realtime across clients</label>-->
    <!--<p class="input-group">-->
      <!--<input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">-->
      <!--<span class="input-group-btn">-->
        <!--<button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>-->
      <!--</span>-->
    <!--</p>-->
  <!--</form>-->
    <a ng-href="/subform" class="buttonMain">Create a submission</a>

  <!--<div ng-include="'components/sublist/sublist.html'"></div>-->
</div>
<div ng-hide="isLoggedIn()">
    <a ng-href="/login" class="buttonMain">Login</a>
</div>

<div class="row container-fluid">
    <div class="col-md-4">
        <img class="fitImage" src="assets/images/lab2.png">
        <h2>Fun lab time</h2>
        <p>
            Yes, things and stuff. Fun lab time is fun. Maybe you should have fun lab time? Perhaps. Yes.
            We are the coolest. Csci is best major yes.
        </p>
    </div>
    <div class="col-md-4">
        <img class="fitImage" src="assets/images/URS1.jpg">
        <h2>Awesome diagrams</h2>
        <p>
            text text texttext text text text text texttext text texttext text texttext text texttext text texttext text texttext text texttext text
            text text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text text
            text text texttext text texttext text texttext text texttext text texttext text texttext text text
        </p>
    </div>
    <div class="col-md-4">
        <img class="fitImage" src="assets/images/URS2.jpg">
        <h2>Art and stuff</h2>
        <p>
            text text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text text
            text text texttext text texttext text texttext text texttext text texttext text texttext text texttext text texttext text text
            text text texttext text texttext text texttext text texttext text text
            text text texttext text texttext text texttext text text
            text text texttext text texttext text texttext text text
        </p>
    </div>
</div>


<!--<footer class="footer">
  <div class="container">
      <p>UMN Morris 3601 |
         <a href="https://github.com/emmasax1/UMM3601ursamajor">Github!</a></p>
  </div>
</footer>-->
