hr {
    border: 1px solid lightgray;
}

.breakLongWords {
    word-wrap: break-word;
}

.block {
    display: block;
}

#text{
    font-style: oblique;
    font-family: "Times New Roman", Times, monospace;
}

.subtext {
    color: dimgray;
    font-size: 12px;
}

.noTopBorder {
    border-top: none;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.floatLeft {
    float: left;
}

.floatRightButton {
    float: right;
    display: block;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    height: 200px;
    width: 50px;
    background-color: maroon;
}

.buttonL{
    float: right;
    color: #ffcc33;
    padding: 8px 10px;
    font-size: 15px;
    line-height: 1.33;
    border-radius: 6px;
    border-width: 0px;
    background: maroon;
    font-weight: bold;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;

}