.breakLongWords {
    word-wrap: break-word;
}

.block {
    display: block;
}

#text{
    font-style: oblique;
    font-family: "Times New Roman", Times, monospace;
}
.buttonL{
    color: antiquewhite;
    padding: 8px 10px;
    font-size: 15px;
    line-height: 1.33;
    border-radius: 6px;
    background: maroon;
    font-style: oblique;
    font-family: "Times New Roman", Times, monospace;

}