<div class="container-fluid breakLongWords" ng-controller="SublistCtrl">
    <tabset>
        <tab ng-repeat="option in filterData.reviewGroupFilterOptions" heading="{{option}}" ng-click="setReviewGroupSelection(option)"></tab>
    </tabset>
    <ul class="list-group" ng-hide="selection.selected">
        <li class="list-group-item" id="text">
            <h2>Submissions </h2>
            <br>
            <input type="text" ng-model="filterData.searchText" placeholder="Search">
            <select ng-show="isAdmin()" ng-model="filterData.reviewGroupFilterSelection">
                <option ng-repeat="option in filterData.reviewGroupFilterOptions" ng-value="{{option}}">{{option}}</option>
            </select>
        </li>

        <li class="list-group-item" ng-style="statusColorTab(sub.status.strict)" ng-repeat="sub in submissions | filter:hasPermissions | filter:reviewGroupFilter | filter:searchFilter">
            <h3 id="text">{{sub.title}}</h3>
            <button class="buttonL" ng-click="selectItem($index)">Details</button>
            <strong>Presenter: {{sub.presenterInfo.first}} {{sub.presenterInfo.last}}</strong>
            <p class="subtext">
                Co-Presenter(s): {{sub.copresenterOneInfo.first | isntEmpty:"":""}} {{sub.copresenterOneInfo.last | isntEmpty:"":""}}{{sub.copresenterTwoInfo.first | isntEmpty:",":""}} {{sub.copresenterTwoInfo.last | isntEmpty:"":""}}
            </p>

            <!--<hr>-->
            <!--&lt;!&ndash;<ul class="list-group">&ndash;&gt;-->
                <!--&lt;!&ndash;<li class="list-group-item">&ndash;&gt;-->
                    <!--<p>Submitter's Email: {{sub.presenterInfo.email}}</p>-->
                    <!--<p>{{sub.copresenterOneInfo.first | isntEmpty:"Co-Presenter #1 Name:":""}}{{sub.copresenterOneInfo.last | isntEmpty:"":""}}</p>-->
                    <!--<p>{{sub.copresenterTwoInfo.first | isntEmpty:"Co-Presenter #2 Name:":""}}{{sub.copresenterTwoInfo.last | isntEmpty:"":""}}</p>-->
                    <!--<p>Advisor: {{sub.adviserInfo.first}} {{sub.adviserInfo.last}}</p>-->
                    <!--<p>Discipline: {{sub.discipline}}</p>-->
                    <!--<p>Format:  {{sub.format}}</p>-->
                    <!--<p>Abstract: <br> {{sub.abstract | fancyLimitTo: 300}}</p>-->
                    <!--<strong><p ng-show="isMemberGroup(sub)"> This submission is in your review group</p></strong>-->
                    <!--<p>Date of submission: {{sub.timestamp}}</p>-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <br>
          </li>
    </ul>
 
    <ul class="list-group" ng-show="selection.selected">
        <li class="list-group-item">
            <button class="btn btn-sm btn-block" ng-click="resetSelection()">Back to submission list</button>
            <br>
            <button ng-show="isAdmin()" class="btn btn-sm btn-danger" ng-click="deleteSubmissionConfirm(selection.item)"><span class="glyphicon glyphicon-trash"></span></button>
        </li>
        <li class="list-group-item" ng-style="statusColorTab(selection.item.status.strict)">

            <div class="block alert" ng-style="statusColorBody(selection.item.status.strict)">
                <button ng-show="isAdmin()" class="btn btn-sm btn-warning close" ng-click="editStatus(selection.item)"><span class="glyphicon glyphicon-file"></span></button>
                <b>Status:</b> {{selection.item.status.strict}} <br>
                <b>Comment:</b> {{selection.item.status.text}}</p>
                <div ng-show="statusEdit.editing">
                    <hr>
                    <div class="container-fluid row">
                        <div class="col-md-6">
                            <label>
                                Select Submission Status <br>
                                <select ng-model="statusEdit.temp.strict">
                                    <option ng-repeat="status in status.strict" ng-value="{{'status'}}">{{status}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label>
                                Elaborate <br>
                                <textarea cols="30" ng-model="statusEdit.temp.text"></textarea>
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-default" ng-click="editStatus()">Cancel</button>
                    <button class="btn btn-warning" ng-click="submitStatusEdit()">Submit</button>
                </div>
            </div>
            <h3 id="text">{{selection.item.title}}</h3>
            <strong>{{selection.item.presenterInfo.last}}, {{selection.item.presenterInfo.first}}</strong>
            <hr>
            <ul class="list-group">
                <li class="list-group-item">
                    <p>Discipline: {{selection.item.discipline}}</p>
                    <p>Format:  {{selection.item.format}}</p>
                    <p>Type: {{selection.item.presentationType}}</p>
                    <p>Advisor: {{selection.item.adviserInfo.last}}, {{selection.item.adviserInfo.first}} email: {{selection.item.adviserInfo.email}}</p>
                    <p>Adviser Approved: {{approvalWordChange(selection.item.approval)}}</p>
                    <p>{{selection.item.sponsors | isntEmpty:"Sponsors:":""}}</p>
                    <p>{{selection.item.mediaServicesEquipment | isntEmpty:"Media Services Equipment:":""}}</p>
                    <p>{{selection.item.specialRequirements | isntEmpty:"Special Requirements:":""}}</p>
                    <p>Date of submission: {{selection.item.timestamp}}</p>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item"><h3>Abstract</h3></li>
                <li class="list-group-item"><p>{{selection.item.abstract}}</p></li>
            </ul>
            <br>
            <p>You are seeing this submission because you are a(n):</p>
            <p>Admin: {{hasAdminPrivs()}}</p>
            <p>Presenter: {{isPresenter(selection.item)}}</p>
            <p>Co-presenter: {{isCoPresenter(selection.item)}}</p>
            <p>Review Group: {{selection.item.group}}</p>
        </li>
    </ul>
</div>
