
<ul class="list-group" ng-controller="SublistCtrl">
    <li class="list-group-item"><h2>List of stored submissions</h2></li>
    <li class="list-group-item" ng-repeat="sub in submissions">
        <h3>{{sub.title}}</h3>
        <strong>{{sub.presenterInfo.first}}, {{sub.presenterInfo.last}}</strong>
        <hr>

        <ul class="list-group">
            <li>
                <p>Discipline: {{sub.discipline}}</p>
                <p>Format:  {{sub.format}}</p>
                <p>Type: {{sub.presentationType}}</p>
                <p></p>
                <p>Abstract: {{sub.abstract}}</p>
                <p>Advisor: {{sub.adviserInfo.name}}, email: {{sub.adviserInfo.email}}</p>
                <p>Sponsors: {{sub.sponsors}}</p>
                <p>Approved? {{sub.approval}}</p>

                <p></p>
            </li>
        </ul>

        <p></p>
    </li>
</ul>
